<th:block th:fragment="modalCreate">
    <!-- Modal Create-->
    <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Doctor Create</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="error-area hide"></div>
                    <form method="post" id="frmCreate">
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <label class="fw-bold" for="fullNameCre">Full name</label>
                                <input type="text" class="form-control" id="fullNameCre" name="fullNameCre">
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold" for="emailCre">Email</label>
                                <input type="email" class="form-control" id="emailCre" name="emailCre">
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold" for="phoneCre">Phone</label>
                                <input type="tel" class="form-control" id="phoneCre" name="phoneCre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="fw-bold" for="identityCre">Số CMND/Passport</label>
                                <input type="text" class="form-control" id="identityCre" name="identityCre">
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold" for="dobCre">Ngày tháng năm sinh</label>
                                <input type="text" class="form-control" id="dobCre" name="dobCre">
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold">Giới tính</label>
                                <select class="form-select" id="genderCre">
                                    <option value="">Chọn giới tính</option>
                                    <option value="MALE">Nam</option>
                                    <option value="FEMALE">Nữ</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold">Dân tộc</label>
                                <select class="form-select" id="ethnicCre"></select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <label class="fw-bold">Province</label>
                                <select class="form-select" id="provinceCre"></select>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold">District</label>
                                <select class="form-select" id="districtCre"></select>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold">Ward</label>
                                <select class="form-select" id="wardCre"></select>
                            </div>
                            <div class="col-lg-3">
                                <label class="fw-bold">Address</label>
                                <input type="text" class="form-control" id="addressCre">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <label class="fw-bold">Khoa/Phòng</label>
                                <select class="form-select" id="specialityCre"></select>
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold">Trình độ chuyên môn</label>
                                <select class="form-select" id="levelCre">
                                    <option value="BS">Bác sĩ</option>
                                    <option value="BSCKI">Bác sĩ chuyên khoa I</option>
                                    <option value="BSCKII">Bác sĩ chuyên khoa II</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold">Nghề nghiệp</label>
                                <select class="form-select" id="jobCre" disabled>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnCreate">
                        <i class="fas fa-plus"></i>
                        Save changes</button>
                </div>
            </div>
        </div>
    </div>
</th:block>