<th:block th:fragment="modalCreate">
  <div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Modal create</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="error-area hide"></div>
          <form method="post" id="formCreate">
            <div class="row">
              <div class="col-lg-12 mb-3">
                <label class="fw-bold">User name</label>
                <input type="text" class="form-control" id="usernameCre" name="usernameCre">
              </div>
              <div class="col-lg-12">
                <label class="fw-bold">Password</label>
                <input type="text" class="form-control" id="passwordCre" name="passwordCre">
              </div>
              <div class="col-lg-12">
                <label class="fw-bold">Role</label>
                <select class="form-select" id="roleCre">
                  <option value="1">ROLE_ADMIN</option>
                  <option value="2">ROLE_USER</option>
                  <option value="3">ROLE_DOCTOR</option>
                </select>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="btnCreate">
            <i class="fas fa-plus"></i>
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</th:block>