.style_wrapper_content__2nPtC {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.style_bg_breakcum__2BT1J {
    background-image: linear-gradient(45deg,#6a78d1,#00a4bd);
    padding: 2rem 0;
    color: #fff;
    margin-bottom: 40px;
    min-height: 116px;
}

.style_wrap_mdbreadcrumb__1e17-.style_head__1hfhC ol {
    padding: 1rem 0 10px;
    display: block;
}
.style_wrap_mdbreadcrumb__1e17- nav ol {
    margin: 0;
    background: transparent;
}

.style_wrap_mdbreadcrumb__1e17-.style_head__1hfhC ol li {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
    transition: all .3s ease;
}

.style_wrap_mdbreadcrumb__1e17-.style_head__1hfhC ol li a {
    color: #fff;
}

.style_wapper_page_item__3Y0Lc {
    max-width: 450px;
    margin: 0 auto 60px;
}

.style_images_chooseprofile__2JKui {
    text-align: center;
    margin-bottom: 30px;
}

.lazyload-wrapper {
    width: 108px;
}

.style_images_chooseprofile__2JKui span {

    display: block;
    font-weight: 500;
}

.style_images_chooseprofile__2JKui img {
    max-width: 400px;
    margin-bottom: 30px;
}

img {
    border: none;
    height: auto;
    vertical-align: top;
    
}

.style_button__2kGy2.style_bold__3SW5C {
    font-weight: 500;
}

.style_button__2kGy2.style_center__2Z10s {
    align-items: center;
    justify-content: center;
}
.style_button__2kGy2.style_create__h2h44 {
    background: #1da1f2;
    color: #fff;
}
.style_button__2kGy2 {
    padding: 12px 20px;
    border-radius: 3px;
    text-transform: none;
    display: flex;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
}

.style_next_prev__2NLc5 {
    margin-top: 30px;
    padding-bottom: 0;
}
.style_next_prev__2NLc5 {
    text-align: right;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #dfe3eb;
    align-items: center;
}

.Ripple-parent {
    position: relative;
    overflow: hidden;
    touch-action: none;
}
.style_button__bKNrt {
    padding: 12px 20px;
    border-radius: 3px;
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

.style_button__bKNrt div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0 7px;
}